div#header
    a(href="/") Home    |
    | 
    a(href="/orderform") Restaurants    |    
    | 
    a(href="/users") Users    |      
    |
    a(href="/profile") Profile    |       
    |
    a(href="/logout") Logout    |       
    |